img {
    border-radius: 135px;
    width: 270px;
    height: 270px;
   }

h1 {
    font-size: 57px;
   }

h2 {
    font-size: 43px;
   }

p {
    font-size: 29px;
   }

body {
    background-color: slateblue;
    font-family: Trebuchet MS;
    color: white;
    text-align: center;
    margin-bottom: 100px;
   }
   
a {
    background-color: white;
    font-size: 29px;
    border-radius: 20px;
    padding: 20px;
    display: block;
    text-align: center;
    margin: 10px 200px 0 200px;
    color: slateblue;
    text-decoration: none;
   }